var site_naverMatome : {
	topic_1 : {
		title: "藤田ニコルはポケモンGOで…「ナンパ」について語った芸能人たち"
		,url : "http://matome.naver.jp/odai/2147276478538616201"
	},
	topic_2 : {
		title: "相模原の事件にも関与…精神保健指定医の資格不正取得が問題になっている"
		,url : "http://matome.naver.jp/odai/2147286242300945301"
	},
	topic_3 : {
		title: "カップルめw…映画「君の名は。」をぼっちで観た人のツイートが面白すぎw"
		,url : "http://matome.naver.jp/odai/2147278257949938201"
	},
	topic_4 : {
		title: "まるで新品！白スニーカーの黄ばみや汚れを落としてくれる「身近なモノ」"
		,url : "http://matome.naver.jp/odai/2147273116823002801"
	},
	topic_5 : {
		title: "アメリカンドリームを感じずにはいられない日本人選手の年俸"
		,url : "http://matome.naver.jp/odai/2147282718487021801"
	},
	topic_6 : {
		title: "あの番組も見納め…秋の改編で惜しまれつつ終了する番組たち"
		,url : "http://matome.naver.jp/odai/2147286329501749301"
	},
	topic_7 : {
		title: "Twitterで見かけた『切ない（泣）…けど笑える』話"
		,url : "http://matome.naver.jp/odai/2147218954285055201"
	},
	topic_8 : {
		title: "怪現象!?「電子レンジを使うとWi-Fiが途切れる」体験者続出のナゼ"
		,url : "http://matome.naver.jp/odai/2147234225185867001"
	},
	topic_9 : {
		title: "この秋冬はスウェットがマスト♡注目のトレンドスウェット４選"
		,url : "http://matome.naver.jp/odai/2147252306528232201"
	},
	topic_10 : {
		title: "リストカットに交際0日婚‥鳥居みゆきが深夜番組で色々ぶっちゃけていた"
		,url : "http://matome.naver.jp/odai/2147281206274034701"
	},
	topic_11 : {
		title: "これも？Twitterで見かけた「ジェネレーションギャップを感じた瞬間」が怖すぎ"
		,url : "http://matome.naver.jp/odai/2147217122470398701"
	},
	topic_12 : {
		title: "焦らずゆっくり行こう♪外食から自炊生活に変える5つのステップ"
		,url : "http://matome.naver.jp/odai/2147252494131455201"
	},
	topic_13 : {
		title: "あとは、今市隆二だけ！三代目「山下健二郎」のインスタ開始にファン歓喜！"
		,url : "http://matome.naver.jp/odai/2147280524569695901"
	},
	topic_14 : {
		title: "スケールが違う。。元子役たちの恋愛エピソード"
		,url : "http://matome.naver.jp/odai/2147270223166818301"
	},
	topic_15 : {
		title: "そんなものまで？意外なものを枕にして眠る猫が可愛すぎ♡"
		,url : "http://matome.naver.jp/odai/2147283523190109601"
	},
	topic_16 : {
		title: "いよいよマジック７…四半世紀ぶりの優勝準備に追われる広島カープ"
		,url : "http://matome.naver.jp/odai/2147274065432038701"
	},
	topic_17 : {
		title: "覚えておきたい！こんな人は不動産屋さんに嫌われるらしい"
		,url : "http://matome.naver.jp/odai/2147285942398689901"
	},
	topic_18 : {
		title: "渡鬼からこち亀まで…今秋は名作の復活ラッシュが熱い！！"
		,url : "http://matome.naver.jp/odai/2147282939987909801"
	},
	topic_19 : {
		title: "秋はライブにアウトドアとキャンプ！野外キャンプフェス５つ"
		,url : "http://matome.naver.jp/odai/2147272228489066901"
	},
	topic_20 : {
		title: "壮絶な過去も告白..元キンコメ・高橋健一被告への求刑が波紋を呼んでいる"
		,url : "http://matome.naver.jp/odai/2147281494375377301"
	},
}

var site_tokyoWalker : {
	topic_1 : {
		title: "【夏のイチオシ】第65回湘南ひらつか花火大会"
		,url : "http://hanabi.walkerplus.com/detail/ar0314e00883/"
	},
	topic_2 : {
		title: "【夏のイチオシ】徳川家康公没後400年事業 第25回小江戸川越花火大会"
		,url : "http://hanabi.walkerplus.com/detail/ar0311e00264/"
	},
	topic_3 : {
		title: "ねこ休み 美術館"
		,url : "http://www.walkerplus.com/event/ar0313e156822/"
	},
	topic_4 : {
		title: "東京 JAZZ CIRCUIT 2016 「ジャズ in 藝大 @ Marunouchi」"
		,url : "http://www.walkerplus.com/event/ar0313e156638/"
	},
	topic_5 : {
		title: "ベルカントの宝石箱とヴェルディ"
		,url : "http://www.walkerplus.com/event/ar0313e147025/"
	},
	topic_6 : {
		title: "定期上映会「戦傷病者の証言」～シベリア編～"
		,url : "http://www.walkerplus.com/event/ar0313e157054/"
	},
	topic_7 : {
		title: "秋の夜長参拝「みらいとてらす－秋を彩る九段の光－」"
		,url : "http://www.walkerplus.com/event/ar0313e146759/"
	},
	topic_8 : {
		title: "チャリティー霞が関寄席 金原亭駒与志独演会"
		,url : "http://www.walkerplus.com/event/ar0313e151267/"
	},
	topic_9 : {
		title: "靖国神社フリーマーケット（9月）"
		,url : "http://www.walkerplus.com/event/ar0313e156558/"
	},
	topic_10 : {
		title: "ベストフリーマーケット in 東京国際フォーラム（9月）"
		,url : "http://www.walkerplus.com/event/ar0313e157283/"
	},
	topic_11 : {
		title: "ビアテラス in 丸の内ハウス2016"
		,url : "http://www.walkerplus.com/event/ar0313e146611/"
	},
	topic_12 : {
		title: "第一回 Shikoku Sake Trip　4県の蔵元と四国の酒を旅しよう"
		,url : "http://www.walkerplus.com/event/ar0313e155766/"
	},
	topic_13 : {
		title: "第14回日比谷公園丸の内音頭大盆踊り大会"
		,url : "http://www.walkerplus.com/event/ar0313e04791/"
	},
	topic_14 : {
		title: "原宿表参道元氣祭 スーパーよさこい2016"
		,url : "http://www.walkerplus.com/event/ar0313e04794/"
	},
	topic_15 : {
		title: "麻布十番納涼まつり"
		,url : "http://www.walkerplus.com/event/ar0313e76132/"
	},
	topic_16 : {
		title: "六本木ヒルズ盆踊り2016"
		,url : "http://www.walkerplus.com/event/ar0313e108283/"
	},
	topic_17 : {
		title: "東日本大震災復興チャリティー 日刊スポーツ新聞社主催 2016 神宮外苑花火大会 "
		,url : "http://www.walkerplus.com/event/ar0313e00876/"
	},
	topic_18 : {
		title: "リアル謎解きゲーム・巨大隕石の襲来・古代遺跡を防衛せよ！"
		,url : "http://www.walkerplus.com/event/ar0313e134596/"
	},
	topic_19 : {
		title: "東京高円寺阿波おどり"
		,url : "http://www.walkerplus.com/event/ar0313e72220/"
	},
	topic_20 : {
		title: "東京大塚阿波おどり"
		,url : "http://www.walkerplus.com/event/ar0313e76355/"
	},
	topic_21 : {
		title: "映画のまち調布“夏”花火2016"
		,url : "http://www.walkerplus.com/event/ar0313e00881/"
	},
	topic_22 : {
		title: "第38回武蔵村山市観光納涼花火大会"
		,url : "http://www.walkerplus.com/event/ar0313e00635/"
	},
}

