var site_naverMatome : {
	topic_1 : {
		title: "台風10号死者16人に…12号は勢力が強く進路は全国ツアーの可能性も"
		,url : "http://matome.naver.jp/odai/2147293828650265701"
	},
	topic_2 : {
		title: "ローラ、水原希子、にこるんも！今回のTGCも大盛り上がりだった！"
		,url : "http://matome.naver.jp/odai/2147291219541073301"
	},
	topic_3 : {
		title: "今秋のマストアイテム♡チェック柄パンツの大人コーデ"
		,url : "http://matome.naver.jp/odai/2147280439669047801"
	},
	topic_4 : {
		title: "山田涼介が“月９”ドラマに初主演…「カインとアベル」が楽しみ！"
		,url : "http://matome.naver.jp/odai/2147294781955707101"
	},
	topic_5 : {
		title: "２８００人が献花…ゾウの「はな子」お別れ会が悲しすぎる"
		,url : "http://matome.naver.jp/odai/2147295017757694501"
	},
	topic_6 : {
		title: "「怖い」との声も…高畑淳子の「メレンゲ」出演大幅カットが物議を醸してる"
		,url : "http://matome.naver.jp/odai/2147294068550953501"
	},
	topic_7 : {
		title: "こち亀は終わっちゃうけど…まだ終わってないあの「長寿漫画」の今。"
		,url : "http://matome.naver.jp/odai/2147291431842266101"
	},
	topic_8 : {
		title: "「望みは死ぬこと」…ジャワ島に１４５歳のおじいちゃん現る"
		,url : "http://matome.naver.jp/odai/2147292381147143601"
	},
	topic_9 : {
		title: "復活ライブ延期も‥極楽とんぼの90分無料トークが大盛況だった！"
		,url : "http://matome.naver.jp/odai/2147294459553800501"
	},
	topic_10 : {
		title: "作り置きにピッタリ！骨まで食べられる秋刀魚の圧力鍋レシピ♪"
		,url : "http://matome.naver.jp/odai/2147293956550707901"
	},
	topic_11 : {
		title: "辻希美に堀北真希…芸能人の結婚記念日の様子が幸せそうだった♪"
		,url : "http://matome.naver.jp/odai/2147284880993165301"
	},
	topic_12 : {
		title: "「名前のおかげで起用された」のかな・・？ってなるCMたち"
		,url : "http://matome.naver.jp/odai/2147287254009526401"
	},
	topic_13 : {
		title: "結婚しても出産しても可愛い♡３億円ジュエリーを身にまとった『上戸彩』が素敵すぎる！"
		,url : "http://matome.naver.jp/odai/2147293893150630601"
	},
	topic_14 : {
		title: "お互いのファンから嫉妬の嵐！「広瀬すず＆山崎賢人」の距離感が近すぎる！"
		,url : "http://matome.naver.jp/odai/2147290056931025201"
	},
	topic_15 : {
		title: "もはや最強！今年の夏も『こじはる』のSNSがセクシーショットで溢れていた！"
		,url : "http://matome.naver.jp/odai/2147290155331629201"
	},
	topic_16 : {
		title: "モチモチおいしい♪フェットチーネのレシピ"
		,url : "http://matome.naver.jp/odai/2147291095440549201"
	},
	topic_17 : {
		title: "約7時間半後に突入‥福島アパート立てこもりの容疑者逮捕に安堵の声"
		,url : "http://matome.naver.jp/odai/2147290032530922401"
	},
	topic_18 : {
		title: "若者の間で話題の現役JKラッパー「ちゃんみな」って知ってる？"
		,url : "http://matome.naver.jp/odai/2147291893245321801"
	},
	topic_19 : {
		title: "メンバーにも笑いを生む...最近、「草なぎくんのギター」が皆をハッピーにしてる"
		,url : "http://matome.naver.jp/odai/2147282344185024001"
	},
	topic_20 : {
		title: "女性が史上初の快挙…「SASUKE」が海外で大盛り上がりだった"
		,url : "http://matome.naver.jp/odai/2147291875745288501"
	},
}

var site_tokyoWalker : {
	topic_1 : {
		title: "【夏のイチオシ】第65回湘南ひらつか花火大会"
		,url : "http://hanabi.walkerplus.com/detail/ar0314e00883/"
	},
	topic_2 : {
		title: "【夏のイチオシ】徳川家康公没後400年事業 第25回小江戸川越花火大会"
		,url : "http://hanabi.walkerplus.com/detail/ar0311e00264/"
	},
	topic_3 : {
		title: "ねこ休み 美術館"
		,url : "http://www.walkerplus.com/event/ar0313e156822/"
	},
	topic_4 : {
		title: "東京 JAZZ CIRCUIT 2016 「ジャズ in 藝大 @ Marunouchi」"
		,url : "http://www.walkerplus.com/event/ar0313e156638/"
	},
	topic_5 : {
		title: "ベルカントの宝石箱とヴェルディ"
		,url : "http://www.walkerplus.com/event/ar0313e147025/"
	},
	topic_6 : {
		title: "定期上映会「戦傷病者の証言」～シベリア編～"
		,url : "http://www.walkerplus.com/event/ar0313e157054/"
	},
	topic_7 : {
		title: "秋の夜長参拝「みらいとてらす－秋を彩る九段の光－」"
		,url : "http://www.walkerplus.com/event/ar0313e146759/"
	},
	topic_8 : {
		title: "靖国神社フリーマーケット（9月）"
		,url : "http://www.walkerplus.com/event/ar0313e156558/"
	},
	topic_9 : {
		title: "ベストフリーマーケット in 東京国際フォーラム（9月）"
		,url : "http://www.walkerplus.com/event/ar0313e157283/"
	},
	topic_10 : {
		title: "ビアテラス in 丸の内ハウス2016"
		,url : "http://www.walkerplus.com/event/ar0313e146611/"
	},
	topic_11 : {
		title: "第一回 Shikoku Sake Trip　4県の蔵元と四国の酒を旅しよう"
		,url : "http://www.walkerplus.com/event/ar0313e155766/"
	},
	topic_12 : {
		title: "音あそび－わくわくドキドキ絵本の世界　vol.2－"
		,url : "http://www.walkerplus.com/event/ar0313e154332/"
	},
	topic_13 : {
		title: "第14回日比谷公園丸の内音頭大盆踊り大会"
		,url : "http://www.walkerplus.com/event/ar0313e04791/"
	},
	topic_14 : {
		title: "原宿表参道元氣祭 スーパーよさこい2016"
		,url : "http://www.walkerplus.com/event/ar0313e04794/"
	},
	topic_15 : {
		title: "麻布十番納涼まつり"
		,url : "http://www.walkerplus.com/event/ar0313e76132/"
	},
	topic_16 : {
		title: "六本木ヒルズ盆踊り2016"
		,url : "http://www.walkerplus.com/event/ar0313e108283/"
	},
	topic_17 : {
		title: "リアル謎解きゲーム・巨大隕石の襲来・古代遺跡を防衛せよ！"
		,url : "http://www.walkerplus.com/event/ar0313e134596/"
	},
	topic_18 : {
		title: "WORLD HAPPINESS 2016　夢の島 THE LAST"
		,url : "http://www.walkerplus.com/event/ar0313e138525/"
	},
	topic_19 : {
		title: "東京高円寺阿波おどり"
		,url : "http://www.walkerplus.com/event/ar0313e72220/"
	},
	topic_20 : {
		title: "東京大塚阿波おどり"
		,url : "http://www.walkerplus.com/event/ar0313e76355/"
	},
	topic_21 : {
		title: "映画のまち調布“夏”花火2016"
		,url : "http://www.walkerplus.com/event/ar0313e00881/"
	},
	topic_22 : {
		title: "第38回武蔵村山市観光納涼花火大会"
		,url : "http://www.walkerplus.com/event/ar0313e00635/"
	},
}

var ekitan : {
	info_from : {
		time : "12:44",
		station : "赤坂(東京)",
	},
	info_to : {
		time : "△13:33",
		station : "みなとみらい",
	},
}

